<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.jgybzx"/>
    <mvc:annotation-driven/>

    <bean id="resourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--配置拦截器-->
    <mvc:interceptors>
      <!--  <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.jgybzx.Interceptor.MyInterceptor2"/>
        </mvc:interceptor>-->
        <mvc:interceptor>
            <!--配置拦截路径 /**表示拦截全部-->
            <mvc:mapping path="/**"/>
            <!--设置不需要拦截的路径   /login.do-->
            <mvc:exclude-mapping path="/*login.do"/>
            <!--配置我们自己写的拦截器-->
            <bean class="com.jgybzx.Interceptor.MyInterceptor"/>
        </mvc:interceptor>

    </mvc:interceptors>
</beans>